@{ string[] Potato = {"chad is learning to make strings!", "Jerome is commenting alot", "Robert is a hacker king" }; foreach
(var OtherPotatos in Potato){
<h3>
    <p>@OtherPotatos</p>
</h3>

DateTime CurrentTime = DateTime.Now; } }